.item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 10rem;
  border-bottom: 2px solid var(--clr-green-200);
  padding: 1rem 0;
  margin: 1rem 0;
}

.item h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: var(--clr-blue-700);
}

.media {
  /* max-width: calc((70rem - 2em) / 3); */
  height: 8rem;
  width: 8rem;
  overflow: hidden;
  position: relative;
  object-fit: cover;

}

.media image {
  width: 100%;
  display: block;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.summary {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: var(--clr-green-200);
}

.item button {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--clr-red-400);
  border: 1px solid var(--clr-red-400);
  width: 2.5rem;
  text-align: center;
  border-radius: 0.2rem;
  cursor: pointer;
  margin: 0.25rem 1rem 0.25rem 0.25rem;
}

.item button:hover,
.item button:active {
  background-color: var(--clr-red-400);
  color: var(--clr-white);
}