.media {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 45rem;
  overflow: hidden;
}

.media img {
  display: block;
  width: 100%;
  height: auto;
}

.media::before {
  display: block;
  content: '';
  background: rgba(0,0,0,0.1);
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
}

.content {
  width: 75rem;
  height: 45rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 3em;
  margin-inline: auto;
  z-index: 10;
  position: relative;
}

.title {
  text-shadow: 0 0.05em 0 #000;
  color: #fff;
  opacity: 0.9;
  font-size: 3.8em;
  font-weight: bold;
}
