/* .container {
  text-align: ;
} */

/* .list {
  display: flex;
  flex-wrap: wrap;
} */

/* .scroll i {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--clr-white);
  background-color: var(--clr-green-200);
} */
