.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding-inline: 2em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  grid-template-areas: 
  'media'
  'content'
  'info';
}

.media {
  width: 34rem;
  max-width: 90%;
  overflow: hidden;
  height: 34rem;
  max-height: 90%;
  position: relative;
  border: 1px solid var(--clr-gray-150);
  border-radius: 0.2em;
  grid-area: media;
  object-fit: fill;
}

.image {
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--clr-gray-50);
  border-radius: 0.2em;
  padding: 0em 3em 2em;
  margin-top: 2em;
}

.cart-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.cart-inner > button {
  margin-bottom: 0;
}

.quantity-title {
  padding-bottom: 0;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10em;
  border: 2px solid var(--clr-gray-150);
  border-radius: 0.2em;
  background-color: #fff;
  /* padding: 0.5em 1em; */
}

.counter .light {
  font-size: 1.5em;
  color: var(--clr-gray-200);
  padding: 0rem 1.2rem;
  cursor: pointer;
  border: none;
}

.counter .light:hover {
  color: var(--clr-gray-400);
}

.info {
  grid-area: info;
  background-color: var(--clr-gray-50);
  border-radius: 0.2em;
  padding: 0 2em 2em;
}

.info-list {
  list-style: circle;
  display: block;
}

.info-item {
  margin-left: 1.5rem;
}

.admin-actions {
  display: flex;
  justify-content: center;
}

.margin {
  margin-right: 1rem;
}

.message {
  margin-top: 0;
  height: 3rem;
  text-align: right;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
    
    grid-template-areas: 
    'media content'
    'info info';
  }
}

@media (min-width: 1280px) {
  .wrapper {
    padding: unset;
    gap: 2em;
  }
}
