header {
  background-color: var(--clr-gray-100);
  box-shadow: 0 0 0.1em 0.1em rgba(9, 9, 9, 0.05);
  /* background-color: #e5e5e5; */
}

.wrapper {
  width: 70rem;
  max-width: 100%;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo, ul {
  padding-bottom: 0;
}

.logo {
  color: var(--clr-green-200);
  font-size: 2em;
}

ul {
  display: flex;
  gap: 1em;
  color: var(--clr-blue-500);
}

ul i {
  padding-right: .3em;
}

a:active,
a:hover,
a.active {
  color: var(--clr-green-200);
}